@import url("https://fonts.googleapis.com/css?family=Caveat:700|Rubik+Mono+One|Russo+One|Ubuntu+Condensed&display=swap&subset=cyrillic");
body{
    font-size: 20px;
    width: 1300px;
}
#unique_header{
    font-family: 'Caveat', cursive;
    font-size: 35px;
}
.initial{
    font-style: italic;
}
.content{
    font-family: 'Russo One', sans-serif;
    margin-left: 300px;
}
.bios{
    display: flex;
    flex-direction: row;
}
.bio{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 40px;
    margin: 10px 10px 400px;
}
.container{
    width: 1500px;
    display: block;
    margin: auto;
}
.list{
    margin-left: 400px;
    width: 600px;
}
.textInContainer{
    margin-left: 400px;
    width: 650px;
}
.extraBold{
    font-weight: bolder;
    font-family: 'Rubik Mono One', sans-serif;
}
.pageNumber{
    float: right;
}